<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% if drug %}
    <title>{{ drug.key }} | Keter Chemistry</title>
    {% else %}
    <title>Keter Chemistry</title>
    {% endif %}
    <meta name="description" content="Keter Chemistry UI">
    <meta name="author" content="B.Next">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
<h1><a href="{{ url_for('index') }}">👑</a> Chemistry</h1>
{% block content %}{% endblock %}
</body>
</html>