{% extends "base.jinja2" %}

{% block content %}
<script src="https://unpkg.com/smiles-drawer@1.2.0/dist/smiles-drawer.min.js"></script>

<div class="container">
    <div class="row">
        <div class="one-half column">
            <h3><u>{{ drug.name }}</u></h3>
            <h4><b>Drug Value:</b> {{ drug.drug_score }}</h4>
            <canvas data-smiles="{{ drug.smiles }}"></canvas>
        </div>
        <div class="one-half column">
            <h5>Scores</h5>
            <p>
                <b>Safety:</b> {{ drug.safety_score }}
                <br>
                <b>Manufacturability:</b> {{ drug.manufacturability_score }}
            </p>
            <h5>Representations</h5>
            <p>
                <b>InChl Key:</b> {{ drug.key }}
                <br>
                <b>SMILES:</b> {{ drug.smiles }}
            </p>
            <h5>Properties</h5>
            <p>
                <b>Mass:</b> {{ drug.mass }}
                <br>
                <b>LogP:</b> {{ drug.logp }}
                <br>
                <b>Hydrogen Donors:</b> {{ drug.hydrogen_donors }}
                <br>
                <b>Hydrogen Acceptors:</b> {{ drug.hydrogen_acceptors }}
            </p>
        </div>
    </div>
    {% if targets %}
        <div class="row">
            <h5>Bioactivity</h5>
        </div>
        <table>
        <tr>
            <th>Target</th>
            <th>Affinity</th>
        </tr>
        {% for target in targets %}
            <tr><td>{{ target.name }}</td><td>{{ target.affinity }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
</div>

<script>SmilesDrawer.apply({ width: 400, height: 300, padding: 10});</script>
{% endblock %}