[submodule "infrastructure/chemistry-ui/glados-frontend-chembl-main-interface"]
	path = infrastructure/chemistry-ui/glados-frontend-chembl-main-interface
	url = git@github.com:BNext-IQT/glados-frontend-chembl-main-interface.git
