{{ partial "header.html" . }}

<script src="https://unpkg.com/smiles-drawer@1.2.0/dist/smiles-drawer.min.js"></script>

<div class="container">
    <div class="row">
        <div class="one-half column">
            <h4>{{ .Title }}</h4>
            <canvas data-smiles="{{ .Params.smiles }}"></canvas>
        </div>
        <div class="one-half column">
            <h5>Representations</h5>
            <p>
                <b>InChl Key:</b> {{ .Params.key }}
                <br>
                <b>SMILES:</b> {{ .Params.smiles }}
            </p>
            <h5>Rule of Five</h5>
            <p>
                <b>Mass:</b> {{ .Params.mass }}
                <br>
                <b>LogP:</b> {{ .Params.logp }}
                <br>
                <b>Hydrogen Donors:</b> {{ .Params.hd }}
                <br>
                <b>Hydrogen Acceptors:</b> {{ .Params.ha }}
            </p>
        </div>
    </div>
</div>

<script>SmilesDrawer.apply({ width: 400, height: 230, padding: 10});</script>

{{ partial "footer.html" . }}
