{{ partial "header.html" . }}

<div class="container">
    <div class="row">
        <div class="one-half column">
            <h4>{{ .Title }}</h4>
        </div>
        <div class="one-half column">
            <h5>Representations</h5>
            <p>
                <b>InChl Key:</b> {{ .Params.key }}
                <br>
                <b>SMILES:</b> {{ .Params.smiles }}
            </p>
            <h5>Rule of Five</h5>
            <p>
                <b>Mass:</b> {{ .Params.mass }}
                <br>
                <b>LogP:</b> {{ .Params.logp }}
                <br>
                <b>Hydrogen Donors:</b> {{ .Params.hd }}
                <br>
                <b>Hydrogen Acceptors:</b> {{ .Params.ha }}
            </p>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
